<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<ul>
    <p>
    <h3>Customers</h3>
        <a th:href="@{/add}">
            Add new staff
        </a>
    </p>
</ul>
<ul>
    <li>ID</li>
    <li>group</li>
    <li>name</li>
    <li>gendle</li>
    <li>phonenumber</li>
    <th:block th:each="staff : ${staff}">
        <li th:text="${staff.id}"></li>
        <li th:text="${staff.group}"></li>
        <li th:text="${staff.name}"></li>
        <li th:text="${staff.gendle}"></li>
        <li th:text="${staff.phonenumber}"></li>
    </th:block>
</ul>
</body>
</html>